<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polymap.rhei.batik.panels">
      <panel
            class="org.polymap.p4.data.importer.ImportPanel"
            id="org.polymap.p4.data.imports.ImportPanel"
            stackPriority="98">
      </panel>
   </extension>
   <extension
         point="org.polymap.core.operation.concerns">
      <concern
            class="org.polymap.p4.data.importer.features.AddLayerForImportedFeaturesConcern"
            id="org.polymap.p4.AddLayerForImportedFeaturesConcern">
      </concern>
   </extension>

</plugin>
